@mixin arrow($length, $angle, $color) {
  border-color: $color;
  border-bottom: solid;
  border-right: solid;
  border-width: 2px;
  width: $length;
  height: $length;
  transform: rotate($angle + -135deg);
}

@mixin hoverShadow {
  box-shadow: none;
  transition: box-shadow 0.3s ease-out;

  &:hover {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  }
}
