@import "elements/_all";

@import "mobile";

:root {
  --navbar-height: 100px;

  @include mobile {
    --navbar-height: 80px;
  }
}

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Alata", sans-serif;
  font-size: 16px;
}

html, body, #__nuxt, #__layout, .fill-screen {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

::selection {
  background-color: #dddddd;
}
