@import "./colors";

html, body, #__nuxt, #__layout {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;

  background-color: $c-background;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: $c-link;
  text-decoration: none;
}
