html, body, .full-width, #__nuxt, #__layout {
  width: 100%;
}

html, body, .full-height, #__nuxt, #__layout {
  height: 100%;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  word-spacing: 1px;

  position: relative;

  user-select: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}
