@layer base {
  .prose {
    & > *, & section > * {
      @apply mt-4;
    }

    :where(h1) {
      @apply font-bold text-3xl sm:text-5xl text-gray-900;
    }

    :where(h2) {
      @apply font-bold text-2xl sm:text-4xl text-gray-700 mt-8;
    }

    :where(ol) {
      @apply list-decimal list-inside space-y-2;
    }

    :where(ul) {
      @apply list-disc list-inside space-y-1;
    }

    :where(address, p, ol, ul) {
      @apply not-italic text-lg max-w-240;
    }
  }

  .asterisk-list > li {
    &:not(:last-child) {
      margin-bottom: 5px;
    }

    &::before {
      @apply text-blue-900;
      content: "*";
      margin-right: 5px;
    }
  }
}
